:root{
    --poppins-font: 'Poppins', sans-serif;

    --plus-color:#E9993D;
    --trash-color:#EC2C2C;
    --check-color:#3ec282;
    --edit-color:#563ec1;

    --side-length: 40px;
    --task-width: 400px;

    --margin-sm: 30px;
    --margin-lg: 50px;

    --font-dark: #000000;
    --font-light: #ffffff;

    --bg-dark: #ffffff;

    --font-lg: 40px;
    --font-md: 18px;
    --font-sm: 13px;

    --font-bold: 700;
    --font-normal: 500;

    --gradient-deg: 150deg;
    --gradient-start: #ec2c2c;
    --gradient-end: #e9993d;
    --gradient-percent: 60%
}

*{
    box-sizing: border-box;
    font-family: var(--poppins-font);
    border: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    /* Background Propagation: There is a infinitely large canvas behind the root, and if root doesn't cover it completely, it's background will repeat in order to propagate completely to canvas*/
    background-image: linear-gradient(var(--gradient-deg), var(--gradient-start), var(--gradient-end) var(--gradient-percent));
}

#heading-div{
    align-items: center;
    margin: var(--margin-sm);
}

#heading{
    color: var(--font-light);
    text-align: center;

    font-size: var(--font-lg);
    font-weight: var(--font-bold);
}

#under-line{
    background-color: var(--bg-dark);
    height: 2px;
    width: 30px;
    margin: 0 auto;
}

#add-task{
    margin: var(--margin-sm) auto;
}

#todo-tasks{
    margin: var(--margin-lg) auto;
}

#add-task, #todo-tasks{
    width: var(--task-width);
}

.task{
    height: var(--side-length);
    background-color: var(--bg-dark);
    display: flex;
}

input{
    padding-left: 10px;
    flex: 1 1 auto;
    /* min-width is necessary for flex-basis auto, as otherwise flex-basis maybe influenced by content of input*/
    min-width: 0;
}

#add-task input{
    font-size: var(--font-md);
    font-weight: var(--font-normal);
}

button{
    flex: 0 0 var(--side-length);
    color: var(--font-light);
}

#todo-tasks button{
    font-size: var(--font-sm);
}

.trash{
    background-color: var(--trash-color);
}

#plus{
    background-color: var(--plus-color);
}

#check{
    background-color: var(--check-color);
}

#edit{
    background-color: var(--edit-color);
}